<!-- format with comment & int -->
<p>{{ _n_noop('There is one cat', 'There are %d cats', 'the number of cats')|format(cats) }}</p>
<!-- format with comment & float -->
<p>{{ _n_noop('There is one dog', 'There are %d dogs', 'the number of dogs')|format(dogs) }}</p>
<!-- format with comment & scientific notation -->
<p>{{ _n_noop('There is one thing', 'There are %d things', 'the number of things')|format(things) }}</p>

<!-- simple with comment & int -->
<p>{{ _n_noop('There is one lizard', 'There are %d lizards', 'the number of lizards') }}</p>
<!-- simple with comment & float -->
<p>{{ _n_noop('There is one frog', 'There are %d frogs', 'the number of frogs') }}</p>
<!-- simple with comment & scientific notation -->
<p>{{ _n_noop('There is one bagel', 'There are %d bagels', 'the number of bagels') }}</p>
